body {
    background-color: rgb(86, 33, 155); 
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    color: white;
    text-align: center;
}
.validat {
    color: green;
}
div {
    padding-top: 2%;
}
input {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    background-color: yellow;
    border-color: black;
    border-width: 0.2em;

}
input#submit {
    background-color: yellow;
}
input#conditions {
    height: 30px;
    width: 30px;
}
input:required {
}
input:invalid:required {
    color: white;
    background-color: black;
    border-color: orange;
}