body {
    background-color: rgb(86, 33, 155); 
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    color: white;
    text-align: center;
}
.validat {
    color: green;
}
h1 {
    padding-top: 3%;
}
div {
    padding-top: 4%;
}
div.form {
    display: block;
    text-align: center;
}
.final {
    padding-top: 5%;
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
input {
    font-family: monospace;
    font-weight: bold;
    font-size: 1em;
    background-color: yellow;
    border-color: black;
    border-width: 0.2em;

}
input#submit {
    background-color: yellow;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
input#conditions {
    height: 30px;
    width: 30px;
}
input#showPasswd {
    height: 30px;
    width: 30px;
}
input:required {
}
input:invalid:required {
    color: white;
    background-color: black;
    border-color: orange;
}